<form class="box" action="/place/{{category._id}}/updateplace/{{place._id}}" method="POST">
  <label class="label">Place details</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label>Place name</label>
        <input class="input" type="text" value="{{place.placename}}" name="placename">
      </div>
      <div class="field">
        <label>Latitude (° +N/-S)</label>
        <input class="input" type="number" step=".000001" value="{{place.latitude}}" name="latitude">
      </div>
      <div class="field">
        <label>Longitude (° +E/-W)</label>
        <input class="input" type="number" step=".000001" value="{{place.longitude}}" name="longitude">
      </div>
      <div class="field">
        <label>Category</label><br>
        <select class="select" id="selection" name="categorytitle">
          <optgroup label="Current category">
            <option value="{{place.categorytitle}}" selected>{{place.categorytitle}}</option>
          </optgroup>
          <optgroup label="All categories">
            {{#each categories}}
              <option value="{{this.title}}">{{this.title}}</option>
            {{/each}}
          </optgroup>
        </select>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label>Description</label>
        <textarea class="textarea has-fixed-size" rows="4" name="description">{{place.description}}</textarea>
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Place</button>
</form>
